<%= javascript_include_tag "gpt" %>

<div class="w-full">
  <%= form_tag(questions_path, class: 'w-full', id: 'user_message_form') do %>
    <%= text_field_tag(:user_message, nil, class: 'w-full rounded', placeholder: 'Type your question') %>
  <% end %>
  <div class="h-48 w-full rounded mb-5 p-3 bg-gray-100">
    <div id="answer"></div>
  </div>
</div>

<script>
  document.getElementById('user_message_form').onsubmit = async function(event) {
    event.preventDefault(); // Prevent the default form submission behavior
    let userMessage = document.getElementById('user_message').value;
    let systemMessage = "context";

    let answer = await getFromGpt(systemMessage, userMessage);
    document.getElementById('answer').innerHTML = answer;
  };
</script>